.navbar {
  background-color: #2dc53f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 0%;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.logout-text {
  cursor: pointer; /* Change cursor to pointer on hover */
}

.heart-icon {
  color: red; /* Set heart icon color */
  font-size: 20px; /* Set heart icon size */
}
