/* Existing styles for the dashboard */

.dashcontainer {
  background-image: url('../../assets/wooden-background_24972-623.avif');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin-left: 10%;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  margin-left: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  color: antiquewhite;
}

/* Updated styles for tasks container */
.tasks {
  margin-left: 20px;
  margin-top: 20px;
}

.tasks ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Align tasks evenly */
}

.tasks ul li {
  flex-basis: calc(33.33% - 20px); /* Adjust width to fit three tasks per row */
  margin-bottom: 20px;
  background-color: #ffffff; /* Add background color for tasks */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

/* Button styles */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Add bottom margin for spacing */
}

.button-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button-container button:hover {
  background-color: #0056b3;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
}

.modal-content textarea,
.modal-content input,
.modal-content button {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.modal-content button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}

/* Edit form styles */
.edit-form {
  margin-top: 20px;
  background-color: #de9ec7;
  padding: 20px;
  border-radius: 5px;
}

/* Task actions styles */
.task-actions {
  display: flex;
  justify-content: space-between;
}

.task-actions span {
  cursor: pointer;
}

.task-actions span:hover {
  color: #007bff;
}

/* Create task container styles */
.create-task-container {
  text-align: center;
  margin-top: 20px;
}

.create-task-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-task-btn:hover {
  background-color: #0056b3;
}
