.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure Navbar stays above other elements */
}

.notification-badge {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .sticky-navbar .navbar-collapse {
    justify-content: flex-end;
  }
}
