/* SignUpBox.css */

/* Sign-up container */
.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100PX;
  right: 50PX;
}

/* Sign-up card */
.sign-up-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Title */
.sign-up-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form group */
.form-group {
  margin-bottom: 15px;
}

/* Form input */
.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Button */
.btn-primary {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Link */
.link {
  color: #007bff;
  cursor: pointer;
}

/* Flexbox for first name and last name inputs */
.input-group {
  display: flex;
  gap: 10PX;
}

.input-group .form-group {
  flex: 1;
  margin: 10px; /* Adjust spacing between input fields */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sign-up-card {
    max-width: 90%;
  }
}
